{% extends 'base_recepcion.html' %}
{% load static %}

{% block title %} Dashboard Recepción {% endblock title %}

{% block additional_headers %}
    <!-- rrule lib -->
    <script src='https://cdn.jsdelivr.net/npm/rrule@2.6.4/dist/es5/rrule.min.js'></script>
    <!-- fullcalendar bundle  "IMPORTANT"-->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>


    <script></script>

{% endblock %}



{% block content %}

    <div class="m-0 p-0">
        <div id='calendar'></div>
    </div>


{% endblock %}

{% block scripts %}





{% endblock %}