{% extends 'base_recepcion.html' %}

{% block title %}Pagos Recepción{% endblock title %}



{% block content %}
    <div class="w-100 mb-4">
        <div class="d-flex justify-content-end">
            <form action="" method="POST" class="row row-cols-lg-auto g-0 align-items-center">
                {% csrf_token %}
                <div class="col-12">
                    <select class="form-select" name="servicio" id="servicio">
                        <option value="" disabled selected>Seleccione un servicio</option>
                        {% for servicio in servicios %}
                            <option value="{{ servicio.nombre }}">{{ servicio.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12">
                    <button class="btn mt-2 mb-2" type="submit" name="servicio" id="servicio" style="background-color: #1D919C; border: 1px solid #1D919C;"><i class="fa-solid fa-magnifying-glass" style="color: white"></i></button>
                </div>
            </form>
        </div>
        <div class="w-100 d-flex justify-content-start align-items-center flex-row">
            <h1 class="text-start text-white">Pagos</h1>
        </div>
    </div>

    <div class="card">
      <div class="card-body">
          <table class="display" id="pagoTable">
              <thead>
              <tr>
                  <th>ID</th>
                  <th>Paciente</th>
                  <th>Profesional</th>
                  <th>Forma de Pago</th>
                  <th>Monto</th>
                  <th>Estado</th>
                  <th>Acciones</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
      </div>
    </div>
{% endblock content %}

{% block script %}
    <script>

        let table = new DataTable('#pagoTable',{
            data: [
                {% for pago in pagos %}
                    {
                        id: '{{ personal.personal__id }}',
                        paciente: '{{ personal.personal__user__rut }}',
                        profesional: '{{ personal.personal__prefijo }} {{ personal.personal__user__nombre }}',
                        forma_pago: '{{ personal.personal__user__username }}',
                        monto: '{{ personal.personal__user__rol}}',
                        estado: '{{ personal.personal__estado }}',
                        acciones: '<a href="{% url "validar_pago" personal.personal__id %}" class="btn btn-sm btn-primary me-1" id="validar" name="validar">Validar</a>',
                    },
                {% endfor %}
            ],

            columns: [
                { data: 'id', visible: false },
                { data: 'paciente' },
                { data: 'profesional' },
                { data: 'forma_pago' },
                { data: 'monto' },
                { data: 'estado' },
                { data: 'acciones' },
            ],

        });
    </script>
{% endblock script %}