{% extends 'base_recepcion.html' %}

{% block title %}Pagos Recepción{% endblock title %}



{% block content %}

    <div class="w-100 mb-4">
        <div class="w-100 d-flex justify-content-start align-items-center flex-row">
            <h1 class="text-start" style="color: #4b4d39;">Pagos</h1>
        </div>
    </div>

    <div class="card" style="background-color: #fefbf6; border: 1px solid #4b4d39;">
        <div class="card-body">
            <ul class="group-list group-list-flush">
                {% for pac in paciente_no_reg %}
                    <li class="group-list-item" style="color: #4b4d39;">{{ pac.rut }}</li>
                    <li class="group-list-item" style="color: #4b4d39;">{{ pac.nombre }}</li>
                    <li class="group-list-item" style="color: #4b4d39;">{{ pac.telefono }}</li>
                    <li class="group-list-item" style="color: #4b4d39;">{{ pac.email }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="card-body">
            <table class="display" id="pagoTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Paciente</th>
                    <th>Forma de Pago</th>
                    <th>Monto</th>
                    <th>Estado</th>
                    <th>Convenio</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>

        let table = new DataTable('#pagoTable',{
            data: [
                {% for pago in pagos %}
                    {
                        id: '{{ pago.id }}',
                        paciente: '{{ pago.user__nombre }}',
                        forma_pago: '{{ pago.forma_pago }}',
                        monto: '{{ pago.monto }}',
                        is_pagado: '{% if pago.is_pagado %} <span class="badge bg-success">Pagado</span> {% else %} <span class="badge bg-danger">No Pagado</span> {% endif %}',
                        convenio: '{{ pago.convenio__nombre }}',
                        acciones: '<a href="{% url "validar_pago" personal.personal__id %}" class="btn btn-sm btn-primary me-1" id="validar" name="validar">Validar</a>',
                    },
                {% endfor %}
            ],
            columns: [
                { data: 'id', visible: false },
                { data: 'paciente' },
                { data: 'forma_pago' },
                { data: 'monto' },
                { data: 'is_pagado' },
                { data: 'convenio' },
                { data: 'acciones' },
            ],
        });
    </script>


{% endblock script %}