{% extends 'base_recepcion.html' %}
{% load static %}

{% block title %} Reservas {% endblock title %}

{% block additional_headers %}

    <style>
        .input-group-addon {
            right: 0;
            padding-right: 30px;
            padding-top: 10px;
            max-width: 40px;
            background-color: #4b4d39;
            border: #4b4d39;
        }
        a:not([href]):not([class]), a:not([href]):not([class]):hover {
            color: #fefbf6;
            text-decoration: none;
        }
    </style>

{% endblock additional_headers %}

{% block content %}

    <div class="w-100 mb-4">
        <div class="d-flex justify-content-end">
            <form action="" method="POST" class="row row-cols-lg-auto g-0 align-items-center">
                {% csrf_token %}
                <div class="col-12">
                    <input type="text" class="form-control" list="rutOptions" name="search" id="search" placeholder="Rut del paciente" required style="border-radius: 5px 0 0 5px; border: 1px solid #4b4d39;">
                    <datalist id="rutOptions">
                        {% for rut in ruts %}
                            <option value="{{ rut.rut }}"></option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class="col-12">
                    <button class="btn mt-2 mb-2" type="submit" name="search" id="search" style="background-color: #4b4d39; border: 1px solid #4b4d39; color: #f1f7f6; border-radius: 0 5px 5px 0;"><i class="fa-solid fa-magnifying-glass" style="color: #f1f7f6"></i></button>
                </div>
            </form>
        </div>
        <div class="w-100 d-flex justify-content-center align-items-end flex-row w-100">
            <div class="d-flex justify-content-between align-items-center flex-row w-100">
                <h1 class="text-start" style="font-weight: bold; color: #4b4d39">Reserva Hora</h1>
            </div>
            <div class="d-flex justify-content-end align-items-end flex-row w-100 gap-2">
                <p class="text-end" style="color: #4b4d39">{{ paciente.nombre }}</p>
                <p class="text-end" style="color: #4b4d39"> {{ paciente.rut }}</p>
            </div>
        </div>
    </div>

    <div class="row">
    {% if paciente is None %}
        <div class="col m-0" style="height: 85vh;">
            <div class="card h-100" style="background-color: #fefbf6; border: 1px solid #4b4d39;">
                <div class="card-header" style="background-color: #fefbf6;"><h5 class="card-title" style="font-weight: bold; color: #4b4d39"><i class="fa-solid fa-user"></i> Información del Paciente</h5></div>
                <div class="card-body px-4 py-1 mb-4" style="height: 75vh; overflow-y: auto;">
                    <form method="POST" class="text-white mt-5" id="noregistro" name="noregistro">
                        {% csrf_token %}
                        <div class="form-floating mb-5">
                            <input type="text" class="form-control" id="rut" name="rut" placeholder="Rut" required autofocus style="border: 1px solid #4b4d39;">
                            <label for="rut">RUT</label>
                        </div>
                        <div class="form-floating mb-5">
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required autofocus style="border: 1px solid #4b4d39;">
                            <label for="nombre">Nombre</label>
                        </div>
                        <div class="form-floating mb-5">
                            <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono" autofocus style="border: 1px solid #4b4d39;">
                            <label for="telefono">Teléfono</label>
                        </div>
                        <div class="form-floating mb-5">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus style="border: 1px solid #4b4d39;">
                            <label for="email">Email</label>
                        </div>
                        <div class="d-flex justify-content-center gap-2">
                            <button class="btn" type="submit" name="noregistro" id="noregistro" style="width: 60%; background-color: #4b4d39; border: 1px solid #4b4d39; color: #fefbf6;">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
   {% endif %}

        <div class="col" style="height: 85vh; ">
            <div class="card h-100" style="background-color: #fefbf6; border: 1px solid #4b4d39;">
                <div class="card-header" style="background-color: #fefbf6;"><h5 class="card-title" style="font-weight: bold; color: #4b4d39;"><i class="fa-solid fa-calendar-check"></i> Información de la Hora</h5></div>

                <div class="card-body p-4">

                    <div class="mt-4 mb-2">
                        <form method="POST" enctype="multipart/form-data">
                            <div class="form-floating d-flex justify-content-center align-items-center gap-2 flex-row">
                                {% csrf_token %}
                                <select class="form-select" name="servicio" id="servicio">
                                    <option value="" disabled selected>Seleccione un servicio</option>
                                    {% for servicio in servicios %}
                                        <option value="{{ servicio.nombre }}">{{ servicio.nombre }}</option>
                                    {% endfor %}
                                </select>
                                <label for="servicio">Servicio</label>
                                <button type="submit" class="btn btn-lg" style="background-color: #4b4d39; border: 1px solid #4b4d39; color: #fefbf6;" name="servicio" id="servicio"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                    </div>

                    <br>

                    <div class="mb-2">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-floating d-flex justify-content-center align-items-center gap-2 flex-row">
                                <select class="form-select" name="especialidad" id="especialidad">
                                    <option value="" disabled selected>Seleccione una especialidad</option>
                                    {% for especialidad in request.session.especialidades_servicio %}
                                        <option value="{{ especialidad.especialidad }}">{{ especialidad.especialidad }}</option>
                                    {% endfor %}
                                </select>
                                <label for="especialidad">Especialidad</label>
                                <button type="submit" class="btn btn-lg" style="background-color: #4b4d39; border: 1px solid #4b4d39; color: #fefbf6;" name="especialidad" id="especialidad"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                    </div>

                    <br>

                    <div class="mb-2">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class=" form-floating d-flex justify-content-center align-items-center gap-2 flex-row">
                                <select class="form-select" name="profesional" id="profesional" >
                                    <option value="" disabled selected>Seleccione un Profesional {{ request.session.nombre_pro }}</option>
                                    {% for profesional in profesionales %}
                                        <option value="{{ profesional.id }}">{{ profesional.nombre }}</option>
                                    {% endfor %}
                                </select>
                                <label for="profesional">Profesional</label>
                                <button type="submit" class="btn btn-lg" style="background-color: #4b4d39; border: 1px solid #4b4d39; color: #fefbf6;" name="profesional" id="profesional"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                    </div>

                    <br>

                    <div class="mb-2">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class=" form-floating d-flex justify-content-center align-items-center gap-2 flex-row">
                                <select class="form-select" name="procedimiento" id="procedimiento" >
                                    <option value="" disabled selected>Seleccione el Procedimiento {{ request.session.procedimiento }}</option>
                                    {% for procedimiento in procedimientos %}
                                        <option value="{{ procedimiento.precio }}">{{ procedimiento.procedimiento }}</option>
                                    {% endfor %}
                                </select>
                                <label for="profesional">Procedimientos</label>
                                <button type="submit" class="btn btn-lg" style="background-color: #4b4d39; border: 1px solid #4b4d39; color: #fefbf6;" name="procedimiento" id="procedimiento"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                    </div>

                    <br>

                    <div class="mb-2">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-floating d-flex justify-content-center align-items-center gap-2 flex-row">
                                <input class="form-control" type="date" name="fecha" id="fecha" value="{{ request.session.fecha }}" min="{{ hoy }}">
                                <label for="fecha">Fecha de Atención</label>
                                <button type="submit" class="btn btn-lg" style="background-color: #4b4d39; border: 1px solid #4b4d39; color: #fefbf6;" name="procedimiento" id="procedimiento"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                    </div>

                    <br>

                    <div class="mb-2">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-floating d-flex justify-content-center align-items-center gap-2 flex-row">
                                <select class="form-control form-select" name="hora" id="hora">
                                    <option value="" disabled selected>Seleccione una hora</option>
                                    {% for hora in horas_disponibles %}
                                        <option value="{{ hora }}">{{ hora }}</option>
                                    {% endfor %}
                                </select>
                                <label for="hora">Horas Disponibles</label>
                                <button type="submit" class="btn btn-lg" style="background-color: #4b4d39; border: 1px solid #4b4d39; color: #fefbf6;"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col" style="height: 85vh;">
            <div class="card h-100" style="background-color: #fefbf6; border: 1px solid #4b4d39;">
                <div class="card-header" style="background-color: #fefbf6;"><h5 class="card-title" style="font-weight: bold; color: #4b4d39;"><i class="fa-solid fa-money-check-dollar"></i> Pago</h5></div>
                <div class="card-body p-4" style="height: 60vh; overflow-y: auto;">

                    <div class="mb-5">
                        <form method="POST" enctype="multipart/form-data" class="text-white">
                            {% csrf_token %}
                            <div class="d-flex justify-content-center align-items-center flex-row gap-2 mt-4 mb-1">
                                <select class="form-control form-control-lg form-select" name="convenio" id="convenio">
                                    <option value="" disabled selected>Seleccione un convenio</option>
                                    <option value="0">Sin Convenio</option>
                                    {% for convenio in convenios %}
                                        <option value="{{ convenio.id }}">{{ convenio.nombre }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn" style="background-color: #4b4d39; border: 1px solid #4b4d39; color: #fefbf6;">Ingresar</button>
                            </div>
                            <div id="adv" class="form-text">
                                <small style="color: #4b4d39;">Al seleccionar un convenio, deberá presentar un comprobante o documento de afiliación al momento de la atención.</small>
                            </div>
                        </form>
                    </div>
                    <hr style="border: 1px solid #4b4d39;">
                    <div class="mt-4 mb-4">
                        <p class="" style="color: #4b4d39">Subtotal: {{ subtotal }}</p>
                        <p class="" style="color: #4b4d39">IVA: {{ iva }}</p>
                        <p class="" style="color: #4b4d39">Convenio {{ nombre }} {{ descuento }}%: {{ total_descuento }}</p>
                        <br>
                        <h3 class="" style="color: #4b4d39">Total a Pagar: {{ total }} </h3>
                    </div>
                    <hr>
                    <div class="mt-4">

                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-floating d-flex justify-content-center align-items-center gap-2 flex-column">
                                <select class="form-select" name="metodo_pago" id="metodo_pago" required>
                                    <option value="" disabled selected>Seleccione un método de pago</option>
                                    <option value="tarjeta">Tarjeta de Débito/Crédito</option>
                                    <option value="transferencia">Transferencia Bancaria</option>
                                    <option value="efectivo">Efectivo</option>
                                </select>
                                <label for="metodo_pago">Método de Pago</label>
                                <button type="submit" class="btn mt-3" style=" width: 40%; background-color: #4b4d39; border: 1px solid #4b4d39; color: #fefbf6;" name="metodo_pago" id="metodo_pago">Pagar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}