{% extends 'base.html' %}

{% block title %}
    Cambiar Contraseña
{% endblock title %}

{% block seccion %}Modificar Contraseña{% endblock seccion %}

{% block content %}

    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 30%;">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 30%;">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
            <div class="alert alert-info alert-dismissible fade show" role="alert" style="width: 30%;">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}

    <style>
        #main {
            -webkit-box-shadow: 0px 14px 15px 4px rgba(0,0,0,0.64);
            box-shadow: 0px 14px 15px 4px rgba(0,0,0,0.64);
        }
    </style>

    <section class="px-0 py-0" style="height: 100vh">

        <div class="row d-flex flex-column w-100 m-0" id="main" style="background: linear-gradient(180deg, hsla(184, 68%, 44%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);">
            <div class="col p-4" >
                <h3 style="color: #fff9f0; font-weight: normal; font-size: 2rem">Cambiar Contraseña</h3>
                <h1 style="color: #fff9f0; font-weight: bold; font-size: 4rem">Modificar Contraseña</h1>
                <div class="d-flex justify-content-end">
                    <h5 style="color: #fff9f0;"><i class="fa-solid fa-envelope"></i> {{ request.user.email }}</h5>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center w-100 m-0 py-2" >
            <div class="col p-2 d-flex justify-content-center align-items-center" style="width: 100%;">
                <div class="card w-75 mt-4">
                    <div class="card-body">
                        <form method="POST" class="w-100" action="{% url 'change_password' %}">
                            {% csrf_token %}
                            <div class="form-floating mt-2 mb-2">
                                {{ form.old_password }}
                                <label for="old_password">Contraseña Actual</label>
                            </div>
                            <br>
                            <div class="form-floating mb-2">
                                {{ form.new_password1 }}
                                <label for="new_password1">Nueva Contraseña</label>
                            </div>
                            <br>
                            <div class="form-floating mb-2">
                                {{ form.new_password2 }}
                                <label for="new_password2">Confirmar Nueva Contraseña</label>
                            </div>
                            <br>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Guardar Cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}