{% load static %}
{% autoescape off %}
    Asunto: Restablecimiento de contraseña

    De: Clinicare

    Para: {{ user.email }}

    Hola {{ user.first_name }} {{ user.last_name }},

    Para restablecer su contraseña, haga clic en el siguiente enlace:
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    Si el enlace no funciona, copie y pegue la URL en su navegador web.

    Este enlace es válido por {{ expiration_minutes }} minutos.

    Si no solicitó este cambio, puede ignorar este correo electrónico.

    Saludos,
    El equipo de Soporte
    Clinicare

{% endautoescape %}