{% extends 'base.html' %}
{% load static %}
{% load sweetify %}
{% sweetify %}

{% block title %} Contraseña Cambiada {% endblock title %}

{% block seccion %}Contraseña Cambiada{% endblock seccion %}

{% block content %}

    <div class="m-0 p-0 d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="card" style="width: 30rem; box-shadow: 10px 10px 15px #CCC; border-radius: 15px; background-color: #fefbf6;">
            <div class="card-header" style="background-color: #1D919C; color: #fefbf6;">
                <h3 class="card-title">Contraseña Cambiada</h3>
            </div>
            <div class="card-body w-100 p-4">
                <p>Su contraseña ha sido cambiada exitosamente.</p>
                <div class="d-flex justify-content-end w-100">
                    <a type="button" href="{% url 'index' %}" class="btn" style="background-color: #1D919C; color: #fefbf6">Ir al Inicio</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}