{% extends 'base.html' %}
{% load static %}
{% load sweetify %}
{% sweetify %}

{% block title %} Perfil de Usuario {% endblock title %}

{% block seccion %}Bienvenido {{ request.user.first_name }}  {{ request.user.last_name }}{% endblock seccion %}

{% block content %}

    <section class="p-0 m-0 d-flex w-100 justify-content-center align-items-center flex-column" style="height: 90vh; background-color: #fefbf6;">

        <div class="row d-flex w-100 justify-content-center align-items-center flex-column h-100 p-2">

            <div class="col-12">
                <div class="card" style="box-shadow: 10px 10px 15px #CCC; border-radius: 15px;background-color: #fefbf6;">
                    <div class="card-body w-100">
                        <div class="row d-flex align-items-center justify-content-center flex-row w-100">

                            <div class="col d-flex align-items-start justify-content-center flex-column">
                                <p class="text-start"><strong>Nombre: </strong></p>
                                <p class="text-start">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                            </div>
                            <div class="col d-flex align-items-start justify-content-center flex-column">
                                <p class="text-start"><strong>RUT:</strong></p>
                                <p class="text-start">{{ request.user.rut }}</p>
                            </div>
                            <div class="col d-flex align-items-start justify-content-center flex-column">
                                <p class="text-start"><strong>Email:</strong></p>
                                <p class="text-start">{{ request.user.email }}</p>
                            </div>
                            <div class="col d-flex align-items-start justify-content-center flex-column">
                                <p class="text-start"><strong>Teléfono:</strong></p>
                                <p class="text-start">{{ request.user.telefono }}</p>
                            </div>
                            <div class="col d-flex align-items-center justify-content-around flex-row gap-2 p-1">
                                <a class="btn btn-primary"  href="{% url 'edit_profile' id=request.user.id %}" style="width: 15%"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="btn btn-secondary"  href="{% url 'change_password' %}" style="width: 15%"><i class="fa-solid fa-key"></i></a>
                                <a class="btn btn-danger"  href="{% url 'delete_profile' id=request.user.id %}" style="width: 15%"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-12">
                <div class="card" style="width: 100%; box-shadow: 10px 10px 15px #CCC; border-radius: 15px; height: 60vh; overflow-y: auto; background-color: #fefbf6;">
                    <div class="card-header"><h4 class="card-title" style="color: #1D919C">Historial de Horas</h4></div>
                    <div class="card-body">
                        <table class="display text-center"  id="historialTable">
                            <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Nro Pago</th>
                                <th class="text-center">Fecha Reserva</th>
                                <th class="text-center">Hora Reserva</th>
                                <th class="text-center">Profesional</th>
                                <th class="text-center">Servicio</th>
                                <th class="text-center">Estado</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {% block scripts %}

        <script>
            let table = new DataTable('#historialTable',{
                data: [
                    {% for reserva in reservas %}
                        {
                            id: '{{ reserva.id }}',
                            pago: '{{ reserva.pago__orden_compra }}',
                            fecha_reserva: '{{ reserva.fecha_reserva|date:"d/m/Y" }}',
                            hora_reserva: '{{ reserva.hora_reserva }}',
                            profesional: '{{ reserva.profesional__prefijo }} {{ reserva.profesional__user__nombre }}',
                            servicio: '{{ reserva.profesional__servicio__nombre }}',
                            is_confirmada: '{% if reserva.is_confirmada %}<span class="badge bg-success">Confirmada</span>{% else %}<span class="badge bg-warning text-dark">Pendiente</span>{% endif %}',},
                    {% endfor %}
                ],
                columns: [
                    { data: 'id', visible: false },
                    { data: 'pago' },
                    { data: 'fecha_reserva' },
                    { data: 'hora_reserva' },
                    { data: 'profesional' },
                    { data: 'servicio' },
                    { data: 'is_confirmada' },
                ],
            });
        </script>

    {% endblock %}

{% endblock %}
