{% extends 'base.html' %}
{% load static %}
{% load sweetify %}
{% sweetify %}

{% block title %} Registro de Usuario {% endblock title %}

{% block seccion %}Registro de Usuario{% endblock seccion %}

{% block content %}

    <div class="mt-5 mb-5 p-0 d-flex justify-content-center align-items-center">

        <div class="row p-0 m-0 d-flex justify-content-center flex-row align-items-center" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

            <div class="col p-3" style="height: 450px; width: 750px; background-color: white;">
                <h2 class="text-start mt-3" style="color: #042630;">Registro de Usuario</h2>

                <form class="row g-2 mt-3 p-2" method="POST" action="{% url 'signup' %}" style="color: #1D919C;">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <div class="col-6 mb-3 mt-1">
                        {{ form.rut }}
                        {% if form.rut.errors %}
                            <div class="text-danger" role="alert">{{ form.rut.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-6 mb-3 mt-1">
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                            <div class="text-danger" role="alert">{{ form.first_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-6 mb-3 mt-1">
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                            <div class="text-danger" role="alert">{{ form.last_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-6 mb-3">
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="text-danger" role="alert">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-6 mb-3">
                        {{ form.telefono }}
                        {% if form.telefono.errors %}
                            <div class="text-danger" role="alert">{{ form.telefono.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-6 mb-4">
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="text-danger" role="alert">{{ form.password1.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-6 mb-4">
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <div class="text-danger" role="alert">{{ form.password2.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-6 d-grid gap-2 d-flex flex-column justify-content-center align-items-center ">
                        <button type="submit" class="btn btn-primary" style="width: 388px; height: 48px; padding: 12px 20px; background-color: #1D919C; border: 1px solid #1D919C; color: #fff">Guardar</button>
                    </div>
                </form>
            </div>
            <div class="col" style="width: 550px; height: 450px; background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%), url({% static 'img/reg.jpeg' %}); background-size: cover; background-position: center;">
            </div>
        </div>
    </div>

{% endblock %}
