{% extends 'base_funcionarios.html' %}
{% load static %}

{% block title %}Login Personal Clínico{% endblock %}

{% block content %}

    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 30%;">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 30%;">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}

    <div class="d-flex justify-content-center align-items-center" style="height: 90vh; position: relative; background: linear-gradient(to top, #16222a, #3a6073);">
        <div class=" d-flex flex-column justify-content-center align-items-center p-4" style="position: absolute; z-index: 1; background-color: transparent; backdrop-filter: blur(20px); border-radius: 20px; border: 1px solid #ccc; width: 30%; height: 90%;)">
            <img src="{% static 'img/logo_white.png' %}" alt="Clin Logo" width="150" height="150">
            <h2 class="text-white text-center mb-2 mt-5">Ingreso <br>Funcionarios</h2>
            <form method="post" action="" class="d-flex flex-column gap-2 w-100 text-white mt-2">
                {% csrf_token %}
                <div class="form-group">
                    {{ login_form.email.label }}
                    {{ login_form.email }}
                    {% if login_form.email.errors %}
                        <div class="text-danger" role="alert">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ login_form.password.label }}
                    {{ login_form.password }}
                    {% if login_form.password.errors %}
                        <div class="text-danger" role="alert">{{ form.password.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ login_form.role.label }}
                    {{ login_form.role }}
                    {% if login_form.role.errors %}
                        <div class="text-danger" role="alert">{{ form.role.errors }}</div>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-center align-items-center flex-row mt-2 gap-2">
                    {{ login_form.remember_me }} {{ login_form.remember_me.label }}
                </div>
                <div class="d-grid gap-2 d-flex flex-column justify-content-center align-items-center mt-4" >
                    <button class="btn " type="submit" name="login" id="login" style="width: 90%; background-color: #FF8008; border: 1px solid #FF8008; color: white">Iniciar Sesión</button>
                </div>
            </form>

        </div>
    </div>


{% endblock %}