{% extends 'base.html' %}
{% load static %}
{% load sweetify %}
{% sweetify %}


{% block title %} Inicio de Sesión {% endblock title %}

{% block seccion %}Inicio de Sesión{% endblock seccion %}

{% block content %}

    <div class="mt-5 mb-5 d-flex justify-content-center align-items-center" >
        <div class="row d-flex justify-content-center align-items-center" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background-color: white;">

            <div class="col-xl-4 col-lg-5 col-md-7 col-sm-12 col-12 d-flex justify-content-center align-items-center p-0 m-0" style="width: 550px; height: 450px; background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%), url({% static 'img/login.jpeg' %}); background-size: cover; background-position: center;)">
            </div>

            <div class="col-xl-4 col-lg-5 col-md-7 col-sm-12 col-12 p-0 m-0 justify-content-center align-items-center flex-column" style="height: 450px; width: 550px; border: 1px solid #ccc">
                <h3 class="text-start mt-3 ms-4" style="color: #042630;">Inicio de Sesión</h3>

                <div class="px-3 d-flex justify-content-center align-items-center flex-column w-100" >
                    <form action="" method="post" class="d-flex flex-column mt-5 gap-2 needs-validation" novalidate style="color: #042630">
                        {% csrf_token %}

                        <div class="mb-3 has-validation d-flex flex-column ">
                            {{ form.email }}
                            <div class="invalid-feedback">
                                {{ form.email.errors.as_text }}
                            </div>
                        </div>
                        <div class="mb-2 has-validation d-flex flex-column ">
                            {{ form.password1 }}
                            <div class="invalid-feedback">
                                {{ form.password1errors.as_text }}
                            </div>
                        </div>
                        <div class="d-grid d-flex flex-column justify-content-center align-items-center mt-2">
                            <button class="btn" type="submit" name="login" id="login" style="width: 388px; height: 48px; padding: 12px 20px; background-color: #1D919C; border: 1px solid #1D919C; color: #fff">Iniciar Sesión</button>
                        </div>
                    </form>
                </div>
                <div class= "mb-3 mt-3">
                    <div class="d-flex justify-content-center align-items-center" >
                        <a href="{% url 'registro' %}" style="color: #041421"><small>¿No tienes una cuenta? Regístrate aquí</small></a>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="{% url 'password_reset' %}" style="color: #041421"><small>¿Olvidaste tu contraseña?</small></a>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center w-100 mt-3">
                    <a class="btn btn-primary text-center" style="width: 388px; height: 48px; background-color: white; border: 1px solid #ccc; border-radius: 4px; color: black; padding: 12px 20px" href="{% url "social:begin" "google-oauth2" %}"><img src="{% static 'img/google.svg' %}" width="18" height="18" alt=""> Continue with Google</a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block scripts %}
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            let forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
{% endblock scripts %}