{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>No Autorizado</title>
</head>
<body style="padding: 0; margin: 0">

    <div style="background-image:url({% static 'img/error_403.jpeg' %}); height: 100vh; background-size: cover; background-position: center; color: black;">
        <h1 style="font-size: 50pt; text-align: center;">No autorizado</h1>
        <p style="font-size: 30pt; text-align: center">No tienes permiso para acceder a esta página.</p>
        <div style="display: flex; align-items: center; justify-content: center; height: 100%;margin-top: 80px;">
            <button style="background-color: crimson; border: 1px solid crimson; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; border-radius: 10px"><a style="text-decoration: none; color: white; font-size: large;">Volver al Inicio</a></button>
        </div>
    </div>

</body>
</html>

