{% extends 'base.html' %}
{% load static %}

{% block title %} Perfil de Usuario {% endblock title %}

{% block content %}

    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 30%;">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 30%;">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}

    <div class="container mt-4">
        <h1 class="text-start">Bienvenido {{ user.first_name }} {{ user.last_name }}</h1>
    </div>

{% endblock %}
