{% extends 'base.html' %}
{% load static %}
{% load sweetify %}
{% sweetify %}

{% block title %} Registro de Usuario {% endblock title %}

{% block seccion %}Registro de Usuario{% endblock seccion %}

{% block content %}

    <div class="p-0 m-0 d-flex justify-content-center align-items-center flex-row" style="height: 100vh;">
        <div class="card p-0 shadow d-flex justify-content-center align-items-center flex-row" style="width: 70%; border-radius: 20px; background-color: #f5f3e9">
            <div class="card-body p-0">
                <img src="{% static 'img/registro.jpeg' %}" class="" alt="Card image cap" width="400" height="650" style="border-radius: 20px 0 0 20px ;">
            </div>
            <div class="card-body pt-0 pb-0">
                <h2 class="card-title" style="color: #3A6073;">Registro de Usuario</h2>

                <form class="row g-2 text-black mt-5" method="POST" action="{% url 'registro' %}" style="width: 550px; height: 400px;">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <div class="col-6 mb-3">
                        {{ form.rut.label }}
                        {{ form.rut }}
                        {% if form.rut.errors %}
                            <div class="text-danger" role="alert">{{ form.rut.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-6 mb-3">
                        {{ form.nombre.label }}
                        {{ form.nombre }}
                        {% if form.nombre.errors %}
                            <div class="text-danger" role="alert">{{ form.nombre.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-6 mb-3">
                        {{ form.email.label }}
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="text-danger" role="alert">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-6 mb-3">
                        {{ form.telefono.label }}
                        {{ form.telefono }}
                        {% if form.telefono.errors %}
                            <div class="text-danger" role="alert">{{ form.telefono.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-6 mb-3">
                        {{ form.password1.label }}
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="text-danger" role="alert">{{ form.password1.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-6 mb-3">
                        {{ form.password2.label }}
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <div class="text-danger" role="alert">{{ form.password2.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="col-12 d-grid gap-2 d-flex flex-column justify-content-center align-items-center w-100">
                        <button type="submit" class="btn btn-primary" style="width: 388px; height: 48px; background-color: #3A6073; border: 1px solid #3A6073">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
