{% extends 'base.html' %}
{% load static %}

{% block title %} Pago Exitoso {% endblock title %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card p-4" style="width: 30rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px;">
        <div class="text-center">
            <img src="{% static 'img/checked_seccess.png' %}" alt="Pago Exitoso" style="width: 100px; height: 100px;">
            <h3 class="mt-3">¡Pago Exitoso!</h3>
            <p class="mt-2">Gracias por tu pago. Tu reserva ha sido confirmada.</p>

            <a href="{% url 'index' %}" class="btn btn-primary mt-3" style="background-color: #1D919C; border: none;">Volver al Inicio</a>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}


{% endblock %}