{% extends 'base.html' %}
{% load static %}

{% block title %} Reserva de Hora {% endblock title %}

{% block content %}
    <br>
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 30%;">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 30%;">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}


    <div class="row d-flex justify-content-start align-items-start flex-row p-0 m-0 gap-2" style="min-height: 100vh;">

        <div class="col d-flex justify-content-start align-items-start flex-column h-100 mb-4">

            <div class="card h-100 d-flex justify-content-start align-items-start flex-column w-100" style="box-shadow: 5px 5px 15px 5px #CCCCCC;">
                <div class="card-header w-100" style="background: linear-gradient(#48b1bf, #06beb6)">
                    <h5 class="card-title text-white">Información del Paciente</h5>
                </div>
                <div class="card-body d-flex justify-content-start flex-column align-items-start mt-2 w-100 ">
                {% if request.user.paciente.rut %}

                    <p><strong>Rut: </strong>{{request.user.paciente.rut}}</p>
                    <br>
                    <p><strong>Nombre: </strong>{{request.user.paciente.nombre}}</p>
                    <br>
                    <p><strong>Apellido: </strong>{{request.user.paciente.apellido}}</p>
                    <br>
                    <p><strong>Dirección: </strong>{{request.user.paciente.direccion}}</p>
                    <br>
                    <p><strong>Teléfono: </strong>{{request.user.paciente.telefono}}</p>
                    <br>
                    <p><strong>Previsión: </strong>{{request.user.paciente.prevision}}</p>

                {% else %}
                    <form method="POST" enctype="multipart/form-data" style="width: 100%">
                        {% csrf_token %}

                        {{ form.rut.label }}
                        {{ form.rut }}
                        <br>
                        {{ form.nombre.label }}
                        {{ form.nombre }}
                        <br>
                        {{ form.apellido.label }}
                        {{ form.apellido }}
                        <br>
                        {{ form.direccion.label }}
                        {{ form.direccion }}
                        <br>
                        {{ form.telefono.label }}
                        {{ form.telefono }}
                        <br>
                        {{ form.prevision.label }}
                        {{ form.prevision }}
                        <div class="d-flex justify-content-end gap-2 mt-4">
                            <button class="btn float-end" type="submit" name="paciente" id="paciente" style="background: linear-gradient(#48b1bf, #06beb6); color: white">Guardar</button>
                        </div>
                    </form>
                {% endif %}
                </div>
            </div>
        </div>

        <div class="col d-flex justify-content-start align-items-start flex-column w-100 h-100 mb-4">
            <div class="card d-flex justify-content-center align-items-center flex-column w-100 h-100" style="box-shadow: 5px 5px 15px 5px #CCCCCC;">
                <div class="card-header w-100" style="background: linear-gradient(#48b1bf, #06beb6)">
                    <h5 class="text-white">Reserva de Hora</h5>
                </div>

            <div class="card-body h-100 d-flex justify-content-center align-items-center flex-column w-100" >

                {% if request.user.paciente.rut %}

                    <div class="d-flex justify-content-center flex-column align-items-center mb-4" style="width: 100%">
                        <form method="POST" enctype="multipart/form-data" style="width: 90%" class="d-flex justify-content-center flex-row align-items-center">
                            {% csrf_token %}
                                <select class="form-select" name="servicio" id="servicio">
                                    <option value="">Seleccione el Servicio:</option>
                                    {% for s in servicios %}
                                        <option value="{{ s.nombre }}">{{ s.nombre }}</option>
                                    {% endfor %}
                                </select>
                            <button type="submit" class="btn btn-secondary ms-2" name="servicio" id="servicio">Ingresar</button>
                        </form>
                    </div>

                {% endif %}

                {% if request.session.servicio %}

                    <div class="d-flex justify-content-center flex-column align-items-center mb-4" style="width: 100%">
                        <form method="POST" enctype="multipart/form-data" style="width: 90%" class="d-flex justify-content-center flex-row align-items-center">
                            {% csrf_token %}
                                <select class="form-select" name="especialidad" id="especialidad">
                                    <option value="">Seleccione Especialidad:</option>
                                    {% for e in especialidades %}
                                        <option value="{{ e.especialidad }}">{{ e.especialidad }}</option>
                                    {% endfor %}
                                </select>
                            <button type="submit" class="btn btn-secondary ms-2" name="especialidad" id="especialidad">Ingresar</button>
                        </form>
                    </div>

                {% endif %}

                {% if request.session.especialidad %}

                    <div class="d-flex justify-content-center flex-column align-items-center mb-4" style="width: 100%">
                        <form method="POST" enctype="multipart/form-data" style="width: 90%" class="d-flex justify-content-center flex-row align-items-center">
                            {% csrf_token %}
                                <select class="form-select" name="profesional" id="profesional">
                                    <option value="">Seleccione Profesional:</option>
                                    {% for p in profesionales %}
                                        <option value={{ p.id }}>{{ p.nombre }} {{ p.apellido }}</option>
                                    {% endfor %}
                                </select>
                            <button type="submit" class="btn btn-secondary ms-2" name="profesional" id="profesional">Ingresar</button>
                        </form>
                    </div>

                {% endif %}

                {% if request.session.profesional %}

                    <div class="d-flex justify-content-center flex-column align-items-center mb-4" style="width: 100%">
                        <form method="POST" enctype="multipart/form-data" style="width: 90%" class="d-flex justify-content-center flex-row align-items-center">
                            {% csrf_token %}
                                <select class="form-select" name="procedimiento" id="procedimiento">
                                    <option value="">Seleccione Procedimiento:</option>
                                    {% for pr in procedimientos %}
                                        <option value={{ pr.precio }}>{{ p.codigo }} {{ pr.procedimiento }}</option>
                                    {% endfor %}
                                </select>
                            <button type="submit" class="btn btn-secondary ms-2" name="procedimiento" id="procedimiento">Ingresar</button>
                        </form>
                    </div>

                {% endif %}

                {% if request.session.procedimiento %}

                    <div class="d-flex justify-content-center flex-column align-items-center mb-1" style="width: 100%">
                        <form method="POST" enctype="multipart/form-data" style="width: 90%" class="d-flex justify-content-center flex-row align-items-start" name="fecha" id="fecha">
                            {% csrf_token %}
                            <input type="date" name="fecha" id="fecha" class="form-control mb-4" placeholder="Fecha">
                            <div class="d-flex justify-content-start flex-column align-items-start " >
                                <button type="submit" class="btn btn-secondary ms-2" name="fecha" id="fecha">Ingresar</button>
                            </div>
                        </form>
                    </div>
                {% endif %}

                {% if request.session.fecha %}

                    <div class="d-flex justify-content-center flex-column align-items-center mb-4" style="width: 100%">
                        <form method="POST" enctype="multipart/form-data" style="width: 90%" class="d-flex justify-content-center flex-row align-items-center" name="hora" id="hora">
                            {% csrf_token %}
                            <select class="form-select" name="hora" id="hora">
                                <option value="">Horas Disponibles:</option>
                                {% for hr in hour %}
                                    <option value="{{ hr.hora_inicio }}">{{ hr.hora_inicio }}:{{ hr.min_inicio }}0 - {{ hr.hora_final }}:{{ hr.min_final }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-secondary ms-2" name="hora" id="hora">Ingresar</button>
                        </form>
                    </div>

                {% endif %}

                {% if request.session.hora %}

                    <div class="d-flex justify-content-start flex-column align-items-start mb-4 ps-5 pt-2 pb-2" style="width: 100%; border-bottom: 1px solid black; border-top: 1px solid black;">
                        <h5 class="card-title">Resumen</h5>
                        <br>
                        <p class="text-start"><strong>Servicio: </strong>{{ request.session.servicio }}</p>
                        <p class="text-start"><strong>Especialidad: </strong>{{ request.session.especialidad }}</p>
                        <p class="text-start"><strong>Profesional: </strong>{{ request.session.pro_nombre }} {{ request.session.pro_apellido }}</p>
                        <p class="text-start"><strong>Valor Prestación: </strong>${{ request.session.prestacion }}</p>
                        <p class="text-start"><strong>Fecha: </strong>{{ request.session.fecha }}</p>
                        <p class="text-start"><strong>Hora: </strong>{{ request.session.hora_inicio }}:{{ request.session.min_inicio }}0 - {{ request.session.hora_final }}:{{ request.session.min_final }}</p>
                    </div>

                    <div class="d-flex justify-content-start flex-column align-items-start ps-5" style="width: 100%">
                        <p class="text-start ps-3"><strong>Subtotal: </strong>${{ request.session.subtotal }}</p>
                        <br>
                        <div class="d-flex justify-content-center flex-column align-items-center " style="width: 100%">
                            <form method="POST" enctype="multipart/form-data" style="width: 80%" class="d-flex justify-content-center flex-row align-items-center" name="convenio" id="convenio">
                                {% csrf_token %}
                                <div class="form-control">
                                    <select class="form-select" name="convenio" id="convenio">
                                        <option value="">Seleccione Convenio:</option>
                                        <option value=0>Sin Convenio</option>
                                        {% for c in convenios %}
                                            <option value="{{ c.descuento }}">{{ c.nombre}} %</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-secondary ms-2" name="convenio" id="convenio">Ingresar</button
                            </form>
                        </div>
                    </div>
                {% endif %}

                {% if request.session.convenio %}

                    <div class="d-flex justify-content-center flex-column align-items-start" style="width: 100%">
                        <p class="text-start"><strong>Descuento: </strong>{{ request.session.nombre_convenio }} {{ request.session.descuento_convenio }}</p>
                        <p class="text-start" style="font-size: 2rem"><strong>Total: </strong>${{ request.session.total }}</p>
                    </div>

                    <br>
                    <div class="d-flex justify-content-center flex-column align-items-start" style="width: 100%">
                        <h5 class="card-title">Medio de Pago</h5>
                        <br>
                        <form method="post" action="{{ url }}">
                            <input type="hidden" name="token_ws" value="{{ token }}" />
                            <button type="submit"><img src="{% static 'img/transbank.png' %}" width="150" height="50"></button>
                        </form>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center flex-column align-items-start" style="width: 100%">
                        {% csrf_token %}
                        <form method="post" action="">
                            <input type="hidden" name="transferencia" value="transferencia" />
                            <button type="submit"><img src="{% static 'img/transferencia.png' %}" width="150" height="50"></button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}