{% extends 'base.html' %}
{% load static %}

{% block title %} Reserva de Hora {% endblock title %}

{% block content %}
    <br>
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 30%;">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 30%;">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}


    <div class="row d-flex justify-content-start align-items-start flex-row p-0 m-2 gap-3" style="min-height: 100vh;">

        <div class="col d-flex justify-content-start align-items-start flex-column p-3 w-100 h-100" style="border: 1px solid black;">

            <div class="card h-100 d-flex justify-content-start align-items-start flex-column w-100" style="box-shadow: 5px 5px 15px 5px #CCCCCC;">
                <div class="card-header w-100" style="background: linear-gradient(#48b1bf, #06beb6)">
                    <h5 class="card-title text-white">Información del Paciente</h5>
                </div>
                <div class="card-body d-flex justify-content-center flex-column align-items-center mt-2 w-100">
                {% if request.user.paciente.rut %}
                    <p><strong>Rut: </strong>{{request.user.paciente.rut}}</p>
                    <br>
                    <p><strong>Nombre: </strong>{{request.user.paciente.nombre}}</p>
                    <br>
                    <p><strong>Apellido: </strong>{{request.user.paciente.apellido}}</p>
                    <br>
                    <p><strong>Dirección: </strong>{{request.user.paciente.direccion}}</p>
                    <br>
                    <p><strong>Teléfono: </strong>{{request.user.paciente.telefono}}</p>
                    <br>
                    <p><strong>Previsión: </strong>{{request.user.paciente.prevision}}</p>
                {% else %}
                    <form method="POST" enctype="multipart/form-data" style="width: 100%">
                        {% csrf_token %}

                        {{ form.rut.label }}
                        {{ form.rut }}
                        <br>
                        {{ form.nombre.label }}
                        {{ form.nombre }}
                        <br>
                        {{ form.apellido.label }}
                        {{ form.apellido }}
                        <br>
                        {{ form.direccion.label }}
                        {{ form.direccion }}
                        <br>
                        {{ form.telefono.label }}
                        {{ form.telefono }}
                        <br>
                        {{ form.prevision.label }}
                        {{ form.prevision }}
                        <div class="d-flex justify-content-end gap-2 mt-4">
                            <button class="btn float-end" type="submit" name="paciente" id="paciente" style="background: linear-gradient(#48b1bf, #06beb6); color: white">Guardar</button>
                        </div>
                    </form>
                {% endif %}
                </div>
            </div>
        </div>

        <div class="col-8 card d-flex justify-content-start align-items-center flex-column p-3" style="border: 1px solid #134E5E; height: 100%">
            <div class="card-header w-100" style="background: linear-gradient(#48b1bf, #06beb6)">
                <h5 class="text-white">Reserva de Hora</h5>
            </div>
            {% if request.user.paciente.rut %}
            <div class="card-body h-100 d-flex justify-content-start align-items-start flex-column w-100">
                <div class="d-flex justify-content-center flex-column align-items-center mb-3 p-3" style="border: 1px solid #134E5E; width: 100%">
                    <form method="POST" enctype="multipart/form-data" style="width: 60%" class="d-flex justify-content-start flex-row align-items-start">
                        {% csrf_token %}
                        <div class="form-control">
                           <select class="form-select" name="servicio" id="servicio">
                                <option value="">Seleccione el Servicio:</option>
                               {% for s in servicios %}
                                   <option value="{{ s.servicio }}">{{ s.servicio }}</option>
                               {% endfor %}
                           </select>
                        </div>
                        <button type="submit" class="btn btn-secondary ms-2" name="servicio" id="servicio">Buscar</button>
                    </form>
                </div>
                <div class="d-flex justify-content-center flex-column align-items-center mb-3 p-3" style="border: 1px solid #134E5E; width: 100%">
                    <form method="POST" enctype="multipart/form-data" style="width: 60%" class="d-flex justify-content-start flex-row align-items-start">
                        {% csrf_token %}
                        <div class="form-control">
                            <select class="form-select" name="especialidad" id="especialidad">
                                <option value="">Seleccione Especialidad:</option>
                                {% for e in especialidades %}
                                    <option value="{{ e.especialidad }}">{{ e.especialidad }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-secondary ms-2" name="especialidad" id="especialidad">Buscar</button>
                    </form>
                </div>

                <div class="d-flex justify-content-center flex-column align-items-center mb-3 p-3" style="border: 1px solid #134E5E; width: 100%">
                    <form method="POST" enctype="multipart/form-data" style="width: 60%" class="d-flex justify-content-start flex-row align-items-start">
                        {% csrf_token %}
                        <div class="form-control">
                            <select class="form-select" name="profesional" id="profesional">
                                <option value="">Seleccione Profesional:</option>
                                {% for p in profesionales %}
                                    <option value="{{ p.id }}">{{ p.nombre }} {{ p.apellido }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-secondary ms-2" name="profesional" id="profesional">Buscar</button>
                    </form>
                </div>

                <div class="d-flex justify-content-center flex-column align-items-center mb-3 p-3" style="border: 1px solid #134E5E; width: 100%">
                    <form method="POST" enctype="multipart/form-data" style="width: 60%" class="d-flex justify-content-start flex-row align-items-start">
                        {% csrf_token %}
                        <div class="form-control">
                            <select class="form-select" name="prestacion" id="prestacion">
                                <option value="">Seleccione Prestacion:</option>
                                {% for pr in prestaciones %}
                                    <option value="{{ pr.precio }}">{{ p.codigo }} {{ pr.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-secondary ms-2" name="prestacion" id="prestacion">Buscar</button>
                    </form>
                </div>


                <div class="d-flex justify-content-center flex-column align-items-start" style="border: 1px solid #134E5E; width: 100%">
                    <h5 class="card-title">Resumen</h5>
                    <br>
                    <p class="text-start"><strong>Servicio: </strong>{{ request.session.servicio }}</p>
                    <p class="text-start"><strong>Especialidad: </strong>{{ request.session.especialidad }}</p>
                    <p class="text-start"><strong>Profesional: </strong>{{ request.session.pro_nombre }} {{ request.session.pro_apellido }}</p>
                    <p class="text-start"><strong>Prestación: </strong>${{ request.session.prestacion }}</p>
                </div>
                <hr>
                <div class="d-flex justify-content-start flex-column align-items-start" style="border: 1px solid #134E5E; width: 100%">
                    <p class="text-start"><strong>Subtotal: </strong>${{ request.session.subtotal }}</p>
                    <br>
                    <div class="d-flex justify-content-center flex-column align-items-center mb-3 p-3" style="border: 1px solid #134E5E; width: 100%">
                        <form method="POST" enctype="multipart/form-data" style="width: 60%" class="d-flex justify-content-start flex-row align-items-start">
                            {% csrf_token %}
                            <div class="form-control">
                                <select class="form-select" name="convenio" id="convenio">
                                    <option value="">Seleccione Convenio:</option>
                                    {% for c in convenios %}
                                        <option value="{{ c.descuento }}">{{ c.nombre}} {{ c.descuento }}%</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-secondary ms-2" name="convenio" id="convenio">Buscar</button>
                        </form>
                    </div>
                    <br>
                    <p class="text-start"><strong>Descuento: </strong>{{ request.session.nombre_convenio }} {{ request.session.descuento_convenio }}</p>
                    <p class="text-start" style="font-size: 2rem"><strong>Total: </strong>{{ request.session.total }}</p>
                </div>
                <br>
                <div class="d-flex justify-content-center flex-column align-items-start" style="border: 1px solid #134E5E; width: 100%">
                    <h5 class="card-title">Medio de Pago</h5>
                    <br>
                    <form method="post" action="{{ url }}">
                        <input type="hidden" name="token_ws" value="{{ token }}" />
                        <button type="submit"><img src="{% static 'img/transbank.png' %}" width="150" height="50"></button>
                    </form>
                </div>
                <br>
                <div class="d-flex justify-content-center flex-column align-items-start" style="border: 1px solid #134E5E; width: 100%">
                    {% csrf_token %}
                    <form method="post" action="">
                        <input type="hidden" name="transferencia" value="transferencia" />
                        <button type="submit"><img src="{% static 'img/transferencia.png' %}" width="150" height="50"></button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}