{% extends 'base_funcionarios.html' %}
{% load static %}

{% block title %}Dashboard Funcionarios{% endblock title %}

{% block content %}

    <div class="m-0 p-0">

        <div class="m-0 p-0" >
            <h1 class="text-start text-white">Dashboard Administración</h1>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="d-flex justify-content-start gap-3 mb-2">
                        <div class="w-25">
                            <label for="servicio" class="form-label text-white">Selecciona Servicio</label>
                            <select name="servicio" id="servicio" class="form-select">
                            {% if request.session.servicio %}
                                <option selected disabled value="{{ request.session.servicio }}">{{ request.session.servicio }}</option>
                                {% for y in servicios %}
                                    <option value="{{ y.nombre }}">{{ y.nombre }}</option>
                                {% endfor %}
                            {% else %}
                                <option selected disabled value="">Seleccione...</option>
                                {% for y in servicios %}
                                    <option value="{{ y.nombre }}">{{ y.nombre }}</option>
                                {% endfor %}
                            {% endif %}
                            </select>
                        </div>
                        <div class="d-flex align-items-end">
                            <button type="submit" class="btn btn-primary" name="servicio" id="servicio"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="row d-flex flex-row justify-content-center mt-3 gap-2">

            <div class="col card" style="background-color: rgba(33, 38, 52, 0.9); border-radius: 20px; border: 2px solid #3b3f4c">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <div class="chart-container w-100" style="position: relative; padding: 10px;">
                        <canvas id="paciente_servicios"></canvas>
                    </div>
                </div>
            </div>

            <div class="col flex-column p-0">

                <div class="col card mb-1" style="background-color: rgba(33, 38, 52, 0.9); border-radius: 20px; border: 2px solid #3b3f4c">
                    <div class="col card-body d-flex justify-content-center align-items-center">
                        <div class="chart-container w-100" style="position: relative; padding: 10px;">
                            <canvas id="ingresos"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col card" style="background-color: rgba(33, 38, 52, 0.9); border-radius: 20px; border: 2px solid #3b3f4c">
                    <div class="col card-body d-flex justify-content-center align-items-center">
                        <div class="chart-container w-100" style="position: relative; padding: 10px;">
                            <canvas id="pacientes"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex flex-row justify-content-center mt-2 gap-2 w-100">
                <div class="col card p-0" style="border-radius: 20px; border: 2px solid #3b3f4c">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <table class="display" id="tablaFunc" >
                            <thead>
                            <tr>
                                <th style="display: none;">ID</th>
                                <th>RUT</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Telefono</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.3.0/js/dataTables.js"></script>

    <script>

        let table = new DataTable('#tablaFunc',{
            data: [
                {% for personal in personal_servicio %}
                {
                    id: '{{ personal.personal__user_id }}',
                    rut: '{{ personal.personal__user__rut }}',
                    nombre: '{{ personal.personal__user__nombre }}',
                    email: '{{ personal.personal__user__email }}',
                    telefono: '{{ personal.personal__user__telefono }}',
                    acciones: '<a href="{% url 'editar_usuario' personal.personal__user_id %}" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></a> <a href="{% url 'eliminar_usuario' personal.personal__user_id %}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>',
                },
                {% endfor %}
            ],
            columns: [
                { data: 'id', visible: false },
                { data: 'rut' },
                { data: 'nombre' },
                { data: 'email' },
                { data: 'telefono' },
                { data: 'rol' },

                { data: 'acciones' },
            ],
        });
    </script>

    <script>

        labels = []

        {% for data in atencion_servicios %}
            labels.push('{{ data.nombre }}');
        {% endfor %}


        const ctx2 = document.getElementById('paciente_servicios');
        const serviciosChart = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Pacientes Atendidos por Servicio',
                    data: [
                        {% for data in atencion_servicios %}
                            {{ data.total }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'right', labels: {
                            color: '#fff' // Cambia el color del texto de la leyenda a blanco
                        }
                    },
                    title: {
                        display: true,
                        text: 'Pacientes Atendidos por Servicio',
                        color: '#fff',
                    }
                }
            }
        });
    </script>

    <script>

        labels = []
        {% for data in servicio_mes %}
            labels.push('{{ data.month }}');
        {% endfor %}

        datos = []
        {% for data in servicio_mes %}
            datos.push('{{ data.total }}');
        {% endfor %}

        const ctx = document.getElementById('ingresos');
        const ingresosChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [...labels],
                datasets: [{
                    label: 'Pacientes Atendidos en Servicio',
                    data: datos,
                    fill: true,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top', labels: {
                            color: '#fff' // Cambia el color del texto de la leyenda a blanco
                        }
                    },
                    title: {
                        display: true,
                        text: 'Ingresos Mensuales',
                        color: '#fff',
                    },
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            color: '#fff' // Cambia el color de los números del eje Y a blanco
                        }
                    },
                    x: {
                        ticks: {
                            color: '#fff' // Cambia el color de los números del eje X a blanco
                        }
                    }
                }
            }

        });
    </script>

    <script>

        const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];

        labels = []
        {% for data in monto_mes %}
            labels.push(meses['{{ data.fecha_reserva__month }}'-1]);
        {% endfor %}

        datos = []
        {% for data in monto_mes %}
            datos.push('{{ data.monto }}');
        {% endfor %}

        const ctx3 = document.getElementById('pacientes');
        const pacientesChart = new Chart(ctx3, {
            type: 'bar',
            data: {
                labels: [...labels],
                datasets: [{
                    label: 'Pacientes Mensuales',
                    data: datos,
                    fill: true,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top', labels: {
                            color: '#fff' // Cambia el color del texto de la leyenda a blanco
                        }
                    },
                    title: {
                        display: true,
                        text: 'Pacientes Mensuales',
                        color: '#fff',
                    },
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            color: '#fff' // Cambia el color de los números del eje Y a blanco
                        }
                    },
                    x: {
                        ticks: {
                            color: '#fff' // Cambia el color de los números del eje X a blanco
                        }
                    }
                }
            }

        });
    </script>

{% endblock script %}
