{% extends 'administracion/informe_template.html' %}
{% load static %}

{% block content %}

    <div class="container mt-5">
        <h1 class="text-center mb-4">Informe Mensual - {{ month }} {{ year }}</h1>
        <table class="table-pdf">
            <thead >
                <tr>
                    <th scope="col">Servicio</th>
                    <th scope="col">Pacientes Atendidos</th>
                    <th scope="col">Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for servicio in servicios %}
                    <tr>
                        <td>{{ servicio.nombre }}</td>
                        <td>{{ servicio.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}