{% extends 'administracion/base_admin.html' %}

{% block content %}
    <div class="container-fluid mt-4 p-3 row">
        <div class="col card shadow mb-5">
            <div class="card-header">
                <h5 class="card-title">R</h5>
            </div>
            <div class="card-body">

                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="col card shadow mb-5">

        </div>
        <div class="col card shadow mb-5">

        </div>
    </div>
{% endblock %}